<div class="center-align" *ngIf="eventos?.length > 0">
  <h3>Meus Eventos</h3>
</div>
<div class="center-align" *ngIf="eventos?.length <= 0">
  <h3>Você não tem nenhum evento</h3>
</div>

<div class="row col s12 m12 l9 xl9" *ngIf="eventos?.length > 0" style="width: 90%">
  <!--<app-card2  *ngFor="let evento of eventos" ></app-card2>-->
  <app-card2 *ngFor="let evento of eventos; index as i " [evento]=evento [id]=i  >{{evento}}</app-card2>

</div>

<div class="fixed-action-btn">
   <!-- Element Showed -->
  <a id="menu" class="waves-effect waves-light btn btn-floating" routerLink="/organizer/event/create"><i class="material-icons">add</i></a>

  <!-- Tap Target Structure -->
  <div class="tap-target botao-criar" data-activates="menu">
    <div class="tap-target-content">
      <h5>Criar Evento</h5>
      <p>Encontre os fornecedores certos para o seu evento</p>
    </div>
  </div>
</div>
