<div class="center-align" *ngIf="eventos?.length > 0">
  <h3>Meus Eventos</h3>
</div>
<div class="center-align" *ngIf="eventos?.length <= 0">
  <h3>Você não tem nenhum evento</h3>
</div>

<div id="homepage-timeline" *ngIf="eventos?.length > 0">
  <section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block cssanimations" *ngFor="let evento of eventos">
			<div class="cd-timeline-img cd-picture containerIcon">
				<i class="small material-icons updateIcon">event</i>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h5>{{evento.nome}}</h5>
				<p>Descrição</p>
				<p>Orçamento: R$ {{evento.orcamento}}</p>
				<p>Quantidade de Pessoas: {{evento.quantidade_pessoas}} pessoas</p>
				<p>Restrinções: {{evento.restricoes}}</p>
				<a class="cd-read-more">Ver mais</a>
				<span class="cd-date">{{evento.data | date:'dd/MM/yy - hh:mm a' }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
</div>

<div class="fixed-action-btn">
   <!-- Element Showed -->
  <a id="menu" class="waves-effect waves-light btn btn-floating" routerLink="/organizer/event/create"><i class="material-icons">add</i></a>

  <!-- Tap Target Structure -->
  <div class="tap-target botao-criar" data-activates="menu">
    <div class="tap-target-content">
      <h5>Criar Evento</h5>
      <p>Encontre os fornecedores certos para o seu evento</p>
    </div>
  </div>
</div>