/*parte inicial da página*/
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url('https://fonts.googleapis.com/css?family=Dosis|Oswald|Sanchez|Slabo+27px');

header {
  /*background-image: url('../img/header-bg.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 70px;
  padding-bottom: 35px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

.logo {
  float: left;
  padding-left: 10px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 30px;
}

.logo span {
  color: #9eff5e !important;
}

@media (max-width: 768px) {
  header .intro-text .intro-lead-in {
    margin-top: 70px;
  }

  header .intro-text .intro-heading {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  header .intro-text {
  padding-top: 70px;
  padding-bottom: 35px;
  }
  header .intro-text .intro-lead-in {
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: 'Sanchez', serif;
    font-size: 85px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

.picture-height {
  /*height: 90vh;*/
  width: 100%;
}

.parallax {
  z-index: -20;
}

.section-pacotes {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 992px) {
  .section-pacotes {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.coisas-item {
  margin-top: 30px;
}

.focus img{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.focus img:hover{
  border: 70px solid #000;
  border-radius:50%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.updateIcon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.containerIcon {
  display: table;

}

.card-altura {
  height: 335px;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .card-altura {
    height: 380px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 700px){
  .card-altura {
    height: 530px;
  }

  .card-altura h5 {
    font-size: 20px;
  }

  .card-altura b {
    font-size: 15px;
  }

  .card-altura ul {
    font-size: 14px;
  }
}


.material-icons.cor { color: #1b5e20; }
