<!--Começo do Menu-->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a routerLink="" class="logo">event<span>soup</span></a>
            <!--<a routerLink="" class="brand-logo">EventSoup</a>-->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#pacotes" class="linkArea">Nossos pacotes</a></li>
				<li><a href="#comofunciona" class="linkArea">Como funcionamos</a></li>
				<li><a href="#sobre" class="linkArea">Sobre nós</a></li>
				<li><a routerLink="/login" (click)="goto('organizer')">Login/Criar conta</a></li>
                <!--<li><a routerLink="/login" (click)="goto('fornecedor')">Entrar Fornecedor</a></li>
				-->
            </ul>
            <a href="javascript.void(0)" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
        </div>
    </nav>
</div>

<ul id="slide-out" class="side-nav">
	<li><a href="#pacotes" class="linkArea">Nossos pacotes</a></li>
	<li><a href="#comofunciona" class="linkArea">Como funcionamos</a></li>
	<li><a href="#sobre" class="linkArea">Sobre nós</a></li>
	<li><a routerLink="/login" (click)="goto('organizer')">Login/Criar conta </a></li>
	<!--<li><a routerLink="/login" (click)="goto('fornecedor')">Entrar Fornecedor</a></li>
	<li><a routerLink="/login" (click)="goto('organizer')">Entrar Contratante</a></li>-->
</ul>

<!--Fim do Menu-->

<div class="parallax-container picture-height">
  <div class="parallax">
    <img src="assets/imagens/teste.jpg" class="focus">
  </div>
   <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bem vindo ao eventsoup</div>
                <div class="intro-heading">Encontre aqui o melhor fornecedor para seu evento!</div>
                <a class="btn waves-effect waves-light green darken-4" routerLink="/organizer/event/create">Criar Evento</a>
            </div>
        </div>
    </header>
</div>

<!--Começo de pacotes-->
<a name="pacotes" id="pacotes"></a>
<div class="section section-pacotes">
	<h4>Pacotes </h4>
	<div class="row">
		<!-- Pacote 1 -->
		<div class="col s12 m4 l4">
			<div class="card waves-block waves-light">
				<div class="card-image">
					<img class="responsive-img" src="assets/imagens/expresso.jpg">
					<span class="card-title" style="background: rgba(0,0,0,0.6)"> Expresso</span>
				</div>
				<div class="card-content card-altura">
					<h5>Uma pausa rápida com um lanchinho depois após reunião!</h5><br/>
					<b>Conteúdo do pacote:</b>
					<ul>
						<li>Coxinhas</li>
						<li>Empadas de frango</li>
						<li>Salgadinhos de queijo </li>
					</ul>
				</div>
				<div class="card-action">
					<button (click)="selectPackage(0)" class="waves-effect waves-light btn red btn-large">Peça agora</button>
				</div>
			</div>
		</div>
		<!-- Pacote 2 -->
		<div class="col s12 m4 l4">
			<div class="card waves-block waves-light">
				<div class="card-image">
					<img class="responsive-img" src="assets/imagens/cerveja_artesanal.png">
					<span class="card-title" style="background: rgba(0,0,0,0.6)">Casual</span>
				</div>
				<div class="card-content card-altura">
					<h5>Um bom momento para realizar aquele <i>networking</i> !</h5><br/>
					<b>Conteúdo do pacote:</b>
					<ul>
						<li>Coxinhas</li>
						<li>Empadas de frango</li>
						<li>Salgadinhos de queijo </li>
						<li>+ <b>Pães de queijo</b></li>
						<li>+ <b>Brigadeiros</b></li>
						<li>+ <b>Surpresas de uva</b></li>
						<li>+ <b>Refrigerantes</b></li>
					</ul>
				</div>
				<div class="card-action">
					<button (click)="selectPackage(1)" class="waves-effect waves-light btn red btn-large">Peça agora</button>
				</div>
			</div>
		</div>
		<!-- Pacote 3 -->
		<div class="col s12 m4 l4">
			<div class="card waves-block waves-light">
				<div class="card-image">
					<img class="responsive-img" src="assets/imagens/brigadeiro.jpg">
					<span class="card-title" style="background: rgba(0,0,0,0.6)">Festa</span>
				</div>
				<div class="card-content card-altura">
					<h5>Festeje com os aniversariantes do mês!</h5><br/>
					<b>Conteúdo do pacote:</b>
					<ul>
						<li>Coxinhas</li>
						<li>Empadas de frango</li>
						<li>Salgadinhos de queijo </li>
						<li>Pães de queijo</li>
						<li>Brigadeiros</li>
						<li>Surpresas de uva</li>
						<li>Refrigerantes</li>
						<li>+ <b>Tortas</b></li>
					</ul>
				</div>
				<div class="card-action">
					<button (click)="selectPackage(2)" class="waves-effect waves-light btn red btn-large">Peça agora</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Fim de pacotes-->

<!--Começo da Timeline-->
<a name="comofunciona" id="comofunciona"></a>
<div class="section">

  <div class="col s12 scrollspy" id="homepage-timeline" style="font-family: sans-serif">

	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block cssanimations">
      <div  class="cd-timeline-img cd-picture containerIcon">
          <i class="small material-icons  updateIcon">event</i>
      </div>

			<div class="cd-timeline-content">
				<h5>Adicione informações básicas</h5>
				<p>Você só vai precisar nos informar os seguintes dados: <b>data do evento, quantidade de pessoas
          e o endereço de onde acontecerá o evento</b>.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block cssanimations">
      <div  class="cd-timeline-img cd-movie containerIcon">
        <i class="small material-icons  updateIcon">view_list</i>
      </div>

			<div class="cd-timeline-content">
				<h5>Escolha o pacote que encaixe com suas necessidades</h5>
				<p> Nós iremos providenciar os pacotes com as quantidades de cada item e, também, o orçamento do pacote escolhido.<br/>
          <b>Você pode alterar a quantia de cada item</b>.
        </p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block cssanimations">
      <div  class="cd-timeline-img cd-picture containerIcon">
        <i class="small material-icons  updateIcon">info</i>
      </div>

			<div class="cd-timeline-content">
				<h5>Informações adicionais</h5>
				<p> Caso você não seja cadastrado ainda, será necessário nos informar alguns dados mais concretos para sua identificação e cobrança do pacote.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block cssanimations">
      <div  class="cd-timeline-img cd-location containerIcon">
        <i class="small material-icons  updateIcon">payment</i>
      </div>

			<div class="cd-timeline-content">
				<h5>Pagamento</h5>
				<p>Realize o pagamento do seu pacote através da interface do PagSeguro, uma plataforma de intermediação de pagamento promovida pela UOL.
          <b>Você poderá escolher a melhor opção de pagamento: cartão de crédito ou débito, boleto bancário ou saldo no próprio PagSeguro</b>.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
  </div>
</div>
<!--Fim da timeline-->

<!--Começo das 3 coisas-->
<a name="sobre" id="sobre"></a>
<div class="section section-pacotes">
	<div class="row">
		<div  class="col s12 m4 l4 coisas-item">
			<div class="center">
        <i class="large material-icons cor">trending_up</i>
				<h5>NOSSA MISSÃO</h5>
				<p class="light center">Entregar para os nossos clientes, de acordo com suas reais necessidades, os melhores fornecedores da cidade para o seu evento empresarial de maneira prática e rápida, sem a necessidade de entrar em contato com estes serviços um a um.</p>
			</div>
		</div>
		<div class="col s12 m4 l4 coisas-item">
			<div class="center">
        <i class="large  material-icons cor">supervisor_account</i>
				<h5>QUEM SOMOS</h5>
				<p class="light center">Somos uma equipe unida de cientistas e engenheiros da computação motivados e engajados em solucionar a
                                problemática das muitas e longas etapas para a realização de um evento corporativo, independentemente do seu tamanho.</p>
			</div>
		</div>
		<div class="col s12 m4 l4 coisas-item">
			<div class="center promo promo-example">
        <i class="large material-icons cor">star</i>
				<h5>NOSSOS VALORES</h5>
				<p class="light center">
          + Praticidade da compra à entrega <br/>
          + Menor custo <br/>
          + Parcerias estratégicas <br/>
          + Qualidade no atendimento ao cliente <br/>
          + Transparência e segurança no pagamento
        </p>
			</div>
		</div>
	</div>
</div>

<!--Rodapé-->
<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Footer Content</h5>
				<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017 Copyright eventsoup
			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>
</footer>
