<!--Começo do Menu-->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a routerLink="" class="logo">event<span>soup</span></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="/fornecedor">Fornecedor</a></li>
				<li><a routerLink="/organizer">Contratante</a></li>
            </ul>
            <a href="javascript.void(0)" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
        </div>
    </nav>
</div>

<ul id="slide-out" class="side-nav">
	<li><a routerLink="/fornecedor">Fornecedor</a></li>
	<li><a routerLink="/organizer">Contratante</a></li>
</ul>
<!--Fim do Menu-->

<div class="parallax-container picture-height">
  <div class="parallax">
    <img src="assets/imagens/paisagem.jpg">
  </div>
   <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bem vindo ao eventsoup!</div>
                <div class="intro-heading">Organize aqui o seu evento!</div>
                <a class="btn waves-effect waves-light" routerLink="/organizer/event/create">Criar Evento</a>
            </div>
        </div>
    </header>
</div>

<!--Começo das 3 coisa-->
<div class="section section-pacotes">
	<div class="row">
		<div  class="col s12 m4 l4 coisas-item">
			<div class="center">
				<i class="material-icons">menu</i>
				<h5>Speeds up development</h5>
				<p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
			</div>
		</div>
		<div class="col s12 m4 l4 coisas-item">
			<div class="center">
				<i class="material-icons">menu</i>
				<h5>User Experience Focused</h5>
				<p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
		</div>
		<div class="col s12 m4 l4 coisas-item">
			<div class="center promo promo-example">
				<i class="material-icons">menu</i>
				<h5>Fully responsive</h5>
				<p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
			</div>
		</div>
	</div>
</div>


<!--Começo da Timeline-->
<div class="section">
  <div class="col s12 scrollspy" id="homepage-timeline">
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block cssanimations">
			<div class="cd-timeline-img cd-picture">
				<img src="assets/imagens/mobile-phone.svg">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h5>Title of section 1</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
				<a class="cd-read-more">Read more</a>
				<span class="cd-date">Jan 14</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block cssanimations">
			<div class="cd-timeline-img cd-movie">
				<img src="assets/imagens/mobile-phone.svg">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h5>Title of section 2</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
				<a class="cd-read-more">Read more</a>
				<span class="cd-date">Jan 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block cssanimations">
			<div class="cd-timeline-img cd-picture">
				<img src="assets/imagens/mobile-phone.svg">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h5>Title of section 3</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
				<a class="cd-read-more">Read more</a>
				<span class="cd-date">Jan 24</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block cssanimations">
			<div class="cd-timeline-img cd-location">
				<img src="assets/imagens/mobile-phone.svg">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h5>Title of section 4</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
				<a class="cd-read-more">Read more</a>
				<span class="cd-date">Feb 14</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block cssanimations">
			<div class="cd-timeline-img cd-location">
				<img src="assets/imagens/mobile-phone.svg">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h5>Title of section 5</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
				<a class="cd-read-more">Read more</a>
				<span class="cd-date">Feb 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
 
		<div class="cd-timeline-block cssanimations">
			<div class="cd-timeline-img cd-movie">
				<img src="assets/imagens/mobile-phone.svg">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h5>Final Section</h5>
				<p>This is the content of the last section</p>
				<span class="cd-date">Feb 26</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
  </div>
</div>
<!--Fim da timeline-->

<!--Começo de pacotes-->

<div class="section section-pacotes">
	<h4>Pacotes </h4>
	<div class="row">
		<div class="col s12 m4 l4">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="assets/imagens/castelo.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Pacote 1 <i class="material-icons right">more_vert</i></span>
					<p>R$ 150,00</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Pacote 1 <i class="material-icons right">close</i></span>
					<ul class="collection">
						<li class="collection-item" *ngFor="let item of ['item 1','item 2','item 3','item 4','item 5','item 6']">{{item}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col s12 m4 l4">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="assets/imagens/castelo.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Pacote 2 <i class="material-icons right">more_vert</i></span>
					<p>R$ 200,00</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Pacote 2 <i class="material-icons right">close</i></span>
					<ul class="collection">
						<li class="collection-item" *ngFor="let item of ['item 1','item 2','item 3','item 4','item 5','item 6']">{{item}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col s12 m4 l4">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="assets/imagens/castelo.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Pacote 3 <i class="material-icons right">more_vert</i></span>
					<p>R$ 300,00</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Pacote 3 <i class="material-icons right">close</i></span>
					<ul class="collection">
						<li class="collection-item" *ngFor="let item of ['item 1','item 2','item 3','item 4','item 5','item 6']">{{item}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Fim de pacotes-->

<!--Começo de contatos-->
<!--<div class="parallax-container picture-height">
  <div class="parallax"><img src="assets/imagens/castelo.jpg"></div>
</div>-->
<!--Fim de contatos-->

<!--Rodapé-->

<nav>
	<div class="nav-wrapper grey darken-4">
		<div class="container">
			EventSoup
		</div>
	</div>
</nav>