<div class="container">
	<ol class="progress-meter progress-container">
		<li class="progress-point todo">Início</li><li class="progress-point todo">Seleção de pacotes</li><li class="progress-point todo">Confirmação</li><li class="progress-point todo">Pagamento</li>
	</ol>
	<br/><br/>
	<h2 class="header">Novo Evento</h2>

	<div class="row">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input id="data" type="date" class="datepicker">
					<label for="data">Data do evento</label>
				</div>
				<div class="input-field col s6">
					<input id="qtd" type="text">
					<label for="qtd">Quantidade de Pessoas</label>
				</div>
			</div>
		</form>
		<button (click)="goBack()" class="btn-flat waves-effect waves-light">Voltar</button>
		<button (click)="createEvent()" class="{{checkRequiredData()}} waves-effect waves-light">Avançar</button>
	</div>
</div>
