<!--Começo do Menu-->
<header>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a routerLink="" class="logo">event<span>soup</span></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="/login">Login</a></li>
            </ul>
            <a href="javascript.void(0)" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
        </div>
    </nav>
</div>

<ul id="slide-out" class="side-nav">
    <li><a routerLink="/login">Login</a></li>
</ul>
</header>

<body>
<!--Fim do Menu-->

<main>
<router-outlet></router-outlet>

</main>
<!--Rodapé-->
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright eventsoup
        </div>
    </div>
</footer>
</body>
