<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper teal">
            <a routerLink="/contratante" class="brand-logo">EventSoup</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li routerLinkActive="active"><a >Home</a></li>
                <li routerLinkActive="active"><a >Histórico</a></li>
                <li routerLinkActive="active"><a >Perfil</a></li>
                <li><a routerLink="">Sair</a></li>
            </ul>
            <a href="javascript.void(0)" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
        </div>
    </nav>
</div>
<ul id="slide-out" class="side-nav">
    <li routerLinkActive="active"><a>Home</a></li>
    <li routerLinkActive="active"><a>Histórico</a></li>
    <li routerLinkActive="active"><a>Perfil</a></li>
    <li><a routerLink="">Sair</a></li>
</ul>

<router-outlet></router-outlet>