<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>


<div class="col s12 m6 l6 xl6 " style="">

  <div class="card green darken-4 ">
    <div class="event-date halfway-fab">
      <span>{{mes}}</span>
      <div class="number">{{dia}}</div>
    </div>

    <div class="card-content white-text">
      <h5><b>Código:</b> {{codigo}}</h5>
      <div style="height: 30px">
        <h6 style="float:left"><b>Stauts:</b> {{statusEntrega}}  </h6>
        <h6 style="float: right"> <b>Hora da Entrega:</b> {{horario}}hrs</h6>
      </div>

      <ul class="collapsible black-text white" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Itens</div>
          <div class="collapsible-body">
            <table>
              <thead>
              <tr>
                <th>Nome</th>
                <th>Quantidade</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let item of getItens()">
                <td>{{ item.nome }}</td>
                <td>{{ item.quantidade }} {{item.unidade}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Endereço</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

    </div>

    <div class="card-action">
      <a class="btnPronto white-text" (click)="click()">{{getBotao()}}</a>
      <a href="#"></a>
    </div>
  </div>
</div>