<div class="container">
	<ol class="progress-meter progress-container">
		<li class="progress-point done">Início</li><li class="progress-point todo">Seleção de pacotes</li><li class="progress-point todo">Confirmação</li><li class="progress-point todo">Pagamento</li>
	</ol>
	<br/><br/>
	<div class="row">
		<div class="col s12 m12 l9 xl9">
			<h4 class="header">Selecione seus pacotes</h4>
			<!-- Teal page content  -->
			<div class="row">
				<div class="col s12 m4 l4" *ngFor="let pct of pacotes">
					<div class="card waves-block waves-light">

						<div class="card-image" (click)="selectPackage(pct)" style="cursor: pointer;">
							<img class="responsive-img" src="assets/imagens/{{pct.img}}">
							<span class="card-title" style="background: rgba(0,0,0,0.6)">{{pct.name}}</span>
						</div>

						<div class="card-content card-altura">
							<h5> {{pct.desc}} </h5>
							<br />
							<b>Conteúdo do pacote:</b>
							<ul *ngFor="let item of pct.items">
								<li>
									{{item.nome}}
								</li>
							</ul>
						</div>
						<div class="card-action">
			              <button (click)="selectPackage(pct)" class="waves-effect waves-light btn red btn-large">Peça agora</button>
			            </div>
					</div>
				</div>
			</div>
		</div>

		<div class="col s12 m12 l3 xl3">
			<ul class="card">
				<div class="green padding20">
					<h5 class="white-text">
						Pacote {{selectedPack.name}}
					</h5>
				</div>
				<div *ngIf="selectedPack.name!==undefined">
					<div class="card-title padding20">R$ {{getOrcamento()}}</div>
					<div class="card-content">
						<ul class="collection no-border">
							<li class="collection-items" *ngFor="let item of selectedPack.items">

								<div *ngIf="item.type==='liquido'">
									<div class="col s12 m12 l12 xl9" style="transform: translate(0,75%);">
										{{item.nome}} (L)
									</div>
								</div>

								<div *ngIf="item.type!=='liquido'">
									<div class="col s12 m12 l12 xl9" style="transform: translate(0,75%);">
										{{item.nome}} 
									</div>
								</div>

								<div class="col s12 m12 l12 xl3">
									<input id="first_name2" type="text" [(ngModel)]="item.qtd">
								</div>
							</li>
						</ul> 
					</div>
					<div class="card-action">
			             <button (click)="confirmDetails()" class="{{checkRequiredData()}} waves-effect waves-light btn green btn-large">Avançar</button>
			        </div>

				</div>
			</ul>
		</div>
	</div>
</div>
