<header></header>

<div class="container">

	<ol class="progress-meter progress-container">
		<li class="progress-point done">Início</li><li class="progress-point done">Seleção de pacotes</li><li class="progress-point todo">Confirmação</li><li class="progress-point todo">Pagamento</li>
	</ol>
	<br/><br/>
	<div class="row">
	    <div class="col s9 m9">
			<div class="card">
				<div class="card-content">
					<form action="">
						<span class="card-title">Informações sobre você</span>
						<p *ngIf="!logged">Já está cadastrado? Clique <a href="#modal_login">aqui</a> para entrar</p>
						<!-- Modal Structure -->
						<div id="modal_login" class="modal">
							<div class="modal-content">
								<login-forms></login-forms>
							</div>
							<!--
							<div class="modal-footer">
								<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
								<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
							</div>
							-->
						</div>
						<div class="row">
					        <div class="input-field col s6">
					          <input id="nome" name="nome" type="text" [(ngModel)]="nome">
					          <label class="fill-user" for="nome">Nome</label>
					        </div>
					        <div class="input-field col s6">
					          <input id="sobrenome" type="text" name="sobrenome" [(ngModel)]="sobrenome">
					          <label class="fill-user" for="sobrenome">Sobrenome</label>
					        </div>
					    </div>
					    <div class="row">
					        <div class="input-field col s6">
					          <input id="email" type="email" [(ngModel)]="email" name="email" class="validate">
					          <label class="fill-user" for="email">E-mail</label>
					        </div>
							<div class="input-field col s3">
								<input id="telefone" type="text" [(ngModel)]="telefone" name="telefone">
								<label class="fill-user" for="telefone">Telefone</label>
							</div>
							<div class="input-field col s3">
								<input id="celular" type="text" [(ngModel)]="celular" name="celular">
								<label class="fill-user" for="celular">Celular</label>
							</div>
					        <!--
					        <div *ngIf="!logged" class="input-field col s3">
					          <input id="senha" type="password" [(ngModel)]="senha" name="senha">
					          <label for="senha">Senha</label>
					        </div>
					        <div *ngIf="!logged" class="input-field col s3">
					          <input id="confirmpass" type="password" [(ngModel)]="confirmpass" name="confirmpass">
					          <label for="confirmpass">Confirme sua senha</label>
					        </div>
					        -->
					    </div>
					    <div class="row">

							<div *ngIf="!logged" class="input-field col s3">
							    <select [(ngModel)]="tipoSelecionado" id="tipoSelecionado" name="tipoSelecionado">
							      <option *ngFor="let c of tipos" [value]="c.id" checked>{{c.name}}</option>
							    </select>
							    <label id="">Pessoa Física ou Jurídica</label>
							</div>
							<div *ngIf="!logged" class="input-field col s9">
								<button class="waves-effect waves-light btn right">Registrar-se</button>
							</div>
						</div>
					    <span class="card-title">Endereço de entrega</span>
					    <form action="">
							<p>
								<input type="checkbox" class="filled-in" id="filled-in-box" disabled />
								<label for="filled-in-box">Utilizar endereço cadastrado</label>
							</p>
						</form>
						<div class="row">
							<div class="input-field col s3">
								<input id="cep" type="text" [(ngModel)]="cep" name="cep">
								<label class="fill-addr" for="cep">CEP</label>
							</div>
							<div class="input-field col s9">
								<input id="rua" type="text" [(ngModel)]="rua" name="rua">
								<label class="fill-addr2" for="rua">Rua</label>
							</div>							
						</div>
						<div class="row">
							<div class="input-field col s2">
								<input id="numero" type="number" [(ngModel)]="numero" name="numero">
								<label class="fill-addr" for="numero">Número</label>
							</div>
							<div class="input-field col s5">
								<input id="complemento" type="text" [(ngModel)]="complemento" name="complemento">
								<label class="fill-addr" for="complemento">Complemento </label>
							</div>
							<div class="input-field col s5">
								<input id="bairro" type="text" [(ngModel)]="bairro" name="bairro">
								<label class="fill-addr2" for="bairro">Bairro</label>
							</div>
						</div>

						<!--<div *ngIf="isPessoaFisica()">
							<div class="row">
								<div class="input-field col s5">
									<input id="cpf" type="text" [(ngModel)]="cpf" name="cpf">
									<label for="cpf">CPF </label>
								</div>
							</div>
						</div>-->

						<!--<div *ngIf="!isPessoaFisica()">
							<div class="row">
								<div class="input-field col s7">
									<input id="razaosocial" type="text" [(ngModel)]="razaosocial" name="razaosocial">
									<label for="razaosocial">Razão Social </label>
								</div>
								<div class="input-field col s5">
									<input id="cnpj" type="text" [(ngModel)]="cnpj" name="cnpj">
									<label for="cnpj">CNPJ </label>
								</div>
							</div>
						</div>-->

						<span class="card-title">Informações sobre o evento</span>
						<div class="row">
							<div class="input-field col s7">
								<input id="titulo" type="text" [(ngModel)]="titulo" name="titulo">
								<label for="titulo">Título</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s7">
	         					<textarea id="info" class="materialize-textarea" [(ngModel)]="info" name="info" placeholder="Exemplos:
- Workshop de empreendedorismo voltado ao público universitário.
- Evento de divulgação da empresa em que a prefeitura vai estar presente."></textarea>
	          					<label for="info">Descrição (opcional)</label>
	        				</div>
						</div>
					</form>
				</div>
			</div>
	    </div>

		<div class="col s3 m3">
			<div class="card">
				<h5 class ="green padding20 white-text">Seu Pedido</h5>
				<div class="card-content">
					<div class="row mb5" *ngFor="let item of selectedPack.itens">
						<div>
							<div class="col s8" >
								{{item.nome}}
							</div>
						</div>

						<div class="col s4">{{item.quantidade_item}}</div>
					</div>
					<br />
					<b>Subtotal: R$ {{calcBudget()}}</b>
				</div>

				<!-- <div class="divider"></div> -->

				<div class="card-content">
					<h5 class="card-title">Entrega</h5>
					<b>Horário do evento:</b>
					<div class="row">
                    	<div class="input-field col s12">
	                        <input #hora id="timepicker" class="timepicker" type="text">
	                        <label for="timepicker">Selecione um horário</label>
	                    </div>
	                </div>
					<!-- <input id="horario" type="text"> -->
					<b>Local:</b>
					<p id="end_entrega">
						<!-- {{eventInfo.rua}}, {{eventInfo.numero}} - {{eventInfo.bairro}} -->
						{{rua}}<span *ngIf="numero !== ''">, {{numero}}</span> <span *ngIf="complemento !== ''">- {{complemento}}</span>
						<br/>
						{{bairro}} - CEP: {{cep}}
						Recife, PE - Brasil
					</p>
					<br />
					<b>Taxa de Entrega: R$ 10,00</b><br /><br />
					<button (click)="redefine()" class="btn w100 waves-effect waves-light">Redefinir Dados</button>
				</div>

				<div class="divider"></div>

				<div class="card-content">
					<h5 class="card-title">Valor Total</h5>
					<p>Este pacote inclui pratos, copos e talheres descartáveis para {{eventInfo.qtd}} pessoas</p><br />
					<h3><b>R$ {{10 + calcBudget()}},00</b></h3>
				</div>

				<div class="card-action">
			        <button (click)="purchase(hora.value)" class="btn red waves-effect waves-light">Realizar Pagamento
						<i class="material-icons right">done</i>
					</button>
			    </div>
			</div>
		</div>
	</div>
</div>