<div class="container">
	<ol class="progress-meter progress-container">
		<li class="progress-point done">Início</li><li class="progress-point done">Seleção de pacotes</li><li class="progress-point done">Confirmação</li><li class="progress-point todo">Pagamento</li>
	</ol>
	<br/><br/>
	<h2 class="header">Comprar pacotes</h2>
	

	<div class="row">
		<img src="assets/imagens/pagseguro.png"/>
		<br/>
		<br/>
		<!-- <button (click)="goBack()" class="btn-flat waves-effect waves-light">Voltar</button> -->
		<button (click)="finish()" class="btn waves-effect waves-light">Finalizar <i class="material-icons right">done_all</i></button>
	</div>
</div>
