<div class="container">
	<ol class="progress-meter progress-container">
		<li class="progress-point done">Início</li><li class="progress-point done">Seleção de pacotes</li><li class="progress-point done">Confirmação</li><li class="progress-point done">Pagamento</li>
	</ol>
	<br/><br/>

	<div class="row">
		<h2 class="header">Parabéns!</h2>
		<h3>Seu evento foi criado como sucesso!</h3>
		<br/>
		<h5>Agora é por nossa parte. Vamos encontrar os melhores fornecedores para atender ao seu evento.</h5>
		<br/><br/>
		<button (click)="goDashboard()" class="btn waves-effect waves-light">Concluir</button>
	</div>
</div>
